@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i');



body {
  font: 400 1.6rem/1.4 'Lato', sans-serif;
background: #fff

}
header{background:#143c50;}
footer{background: #143c50;}
h3,h2{color: #f39c12}

.container{
  display: grid;
 grid-template-columns:auto auto auto;
 grid-gap: 20px ;
max-width: 960px ;
margin:  0 auto ;
padding: 0 10px ;
}
.lead{
  line-height:

}


