.bloc{
    text-align: center;
    padding-top: 350px;
}
.hey{
    width: 450px;
    height: 60px;
    border-radius: 5px;
}
.look{
    padding-top: 20px;
}
.logo{
    width: 200px;
    height: 150px;
}