.dweb {
    font-size: 14px ;
    color: #DCDCAD;
    width: 60PX;
    height: 250px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    


}