body{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEscSRL_uk2jK2gChcT-KQbDqJkYsj7KeDTlINVDyJ4bNYGt2d) ;


}
p{
    color: whitesmoke;
}
.row{
    color:whitesmoke;
}

.accueil{
color: blanchedalmond;
}

.expe{
    color: brown
}